.about-us__wrapper {
  padding-bottom: 110px;
  width: 61%;
  margin: 0 auto;
  background-image: url("../img/year-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: -29px 5px;
}

.about-us__title {
  padding-left: 180px;
  margin-bottom: 23px;
}

.about-us {

  & p {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 180px;
    font-size: 16px;
    line-height: 22px;
  }

  &__btn {
    margin-top: 20px;
    margin-left: 180px;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about-us__wrapper {
    background-image: url("../img/year-desktop@2x.png");
    background-size: 220px 317px;
  }
}
