.advantages {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  margin-top: 109px;
  background-repeat: no-repeat;
  background-image: url(../img/triangles/triangle-1.svg),
                    url(../img/triangles/triangle-2.svg),
                    url(../img/triangles/triangle-3.svg),
                    url(../img/triangles/triangle-4.svg);
  background-position: 0 330px, 53% 33px, 98.3% 346px, 13% -66px;

  &__list {
    width: 61%;
    margin: 0 auto;
    margin-bottom: 73px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
  }

  &__card {
    width: 48.7%;
    min-height: 300px;
    padding-top: 95px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 2.75em;
    padding-right: 2.5em;
    border: 1px solid $advantages-border-color;
    border-left: 3px solid $advantages-color;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 45px 40px;
  }

  &__card:nth-child(2n+1) {
    margin-right: auto;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 15px;
    font-family: "RobotoCondensed-Regular", Arial, sans-serif;
    color: $advantages-color;
    font-size: 24px;
    line-height: 34px;
  }

  &__card--suppliers {
    margin-bottom: 16px;
    background-image: url(../img/hired-icon.svg);
  }

  &__card--confidentiality {
    background-image: url(../img/detective-icon.svg);
  }

  &__card--cost {
    background-image: url(../img/tag-icon.svg);
  }

  &__card--term {
    color: #fff;
    background-color: $advantages-color;
    background-image: url(../img/watch-icon.svg);
    border-color: transparent;
    background-size: 30px 35px;

    & .advantages__subtitle {
      color: #fff;
    }
  }

  &__card p {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .advantages {
    margin-top: 54px;
    background-image: url("../img/triangles/triangle-tablet.svg");
    background-position: 100% 36px;
    background-size: 559px 873px;

    &__list {
      width: 93.5%;
    }

    &__card {
      min-height: 306px;
      padding-right: 1.34em;
      width: 48%;
      border-width: 2px;
      background-position: 27px 22px;
      padding-top: 67px;
      padding-left: 1.5em;
      margin-bottom: 30px;
    }

    &__card:nth-child(n+2) {
      min-height: 232px;
    }

    &__card--term {
      background-color: #fff;
      color: $font-color;
      background-image: url(../img/watch-tablet.svg);
      border: 1px solid $advantages-border-color;
      border-left: 2px solid $advantages-color;

      & .advantages__subtitle {
        color: $advantages-color;
      }
    }

    &__list {
      margin-bottom: 26px;
    }
  }

  .advantages__subtitle {
    margin-bottom: 8px;
  }
}

