.first-screen {
  padding-top: 100px;
  background-color: $first-screen-color;
  background-image: url("../img/first-screen-background-desktop@1x.png"),
    url("../img/circuit-board-desktop@1x.png"),
    url("../img/triangles.svg");
  background-size: cover, auto, cover;
  background-repeat: no-repeat;
  background-position: 80% 50%, 85.3% 70.9%;
  color: $header-font-color;

  &__wrapper {
    margin: 0 auto;
    width: 74%;
  }

  &__good {
    display: inline-block;
    padding-top: 215px;
    padding-bottom: 27px;
    font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  &__directions {
    position: relative;
    margin: 0;
    width: 620px;
    padding-left: 94px;
    padding-bottom: 44px;
    font-size: 22px;
    line-height: 34px;
  }

  &__directions::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    left: 2px;
    top: 16px;
    background-color: #ffffff;
  }

  &__btn {
    display: inline-block;
    margin-left: 97px;
    margin-bottom: 278px;
    background-color: $btn-color;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 16px;
    padding-top: 18px;
    color: $header-font-color;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
  }

  &__scroll {
    position: absolute;
    top: 734px;
    left: 11.3%;
    transform: rotate(-90deg);
    opacity: 0.5;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  &__scroll:hover,
  &__scroll:focus {
    opacity: 1;
  }

  &__scroll:active {
    opacity: 0.8;
  }
}


@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .first-screen {
    background-image: url("../img/first-screen-background-desktop@2x.png"),
      url("../img/circuit-board-desktop@2x.png"),
      url("../img/triangles.svg");
    background-size: cover, 705px 515px, cover;
  }
}

@media (max-width: 1023px) {
  .first-screen {
    background-image: url("../img/first-screen-background-tablet@1x.png"),
      url("../img/circuit-board-tablet@1x.png"),
      url("../img/triangles-tablet.svg");
    background-position: 50%, right 0 top 113px, right 0 top 0;
    background-size: cover, 260px 340px, 770px 684px;

    &__good {
      padding-top: 88px;
      padding-left: 34px;
      width: 350px;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.07em;
    }

    &__wrapper {
      width: 86%;
    }

    &__directions {
      padding-left: 84px;
      padding-bottom: 57px;
      font-size: 18px;
      line-height: 156.8%;
      width: 360px;
    }

    &__directions::before {
      width: 33px;
      left: 37px;
    }

    &__btn {
      margin-left: 85px;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 163px;
    }

    &__scroll {
      display: none;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .first-screen {
      background-image: url("../img/first-screen-background-tablet@2x.png"),
        url("../img/circuit-board-tablet@2x.png"),
        url("../img/triangles-tablet.svg");
    }
  }
}

@media (max-width: 767px) {
  .first-screen {
    background-image: url("../img/first-screen-background-mobile@1x.png"),
      url("../img/circuit-board-mobile@1x.png"),
      url("../img/triangles/triangle-mobile.svg");
    background-size: cover, 294px 220px, 320px 529px;
    background-position: 50%, right 0 top 92px, right 0 top 0;
    padding-bottom: 70px;

    &__wrapper {
      width: 90%;
    }

    &__good {
      width: 100%;
      padding-top: 186px;
      padding-left: 0;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.07em;
    }

    &__directions {
      padding-left: 50px;
      width: 245px;
      font-size: 16px;
      line-height: 156.8%;
      padding-bottom: 43px;
    }

    &__directions::before {
      left: 2px;
    }

    &__btn {
      margin: 0;
      padding-left: 27px;
      padding-right: 27px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;

      span {
        display: none;
      }
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .first-screen {
      background-image: url("../img/first-screen-background-mobile@2x.png"),
        url("../img/circuit-board-mobile@2x.png"),
        url("../img/triangles/triangle-mobile.svg");
    }
  }
}
