.footer__top {
  padding-top: 65px;
  padding-bottom: 57px;
  width: 74%;
  margin: 0 auto;
  color: #1B2D37;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer__logo {
  margin-right: auto;
  margin-bottom: 53px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #203C42;

  & div {
    padding-left: 18px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.footer {
  &__company-name {
    font-family: "RobotoCondensed-Bold", Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }

  &__tagline {
    font-family: "Roboto-Medium", Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
  }
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  li {
    margin-right: 16px;
  }
}

.footer__bottom {
  position: relative;
}

.footer__bottom::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #626962;
  width: 100%;
  height: 1px;
  opacity: 0.2;
}

.footer__social {
  flex-basis: 30%;
}

.footer__nav {
  flex-basis: 43%;
  flex-shrink: 1;
  margin-right: auto;
}

.footer__address {
  flex-basis: 25%;

  p {
    margin: 0;
  }
}

.footer__address  span, .footer__address a {
  margin-bottom: 5px;
  display: inline-block;
}

.footer__title {
  margin: 0;
  font-family: "RobotoCondensed", Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer__nav li {
  width: 50%;
  padding-bottom: 5px;
}

.footer__nav a,
.footer__address span,
.footer__address a {
  color: #1B2D37;
  opacity: 0.5;
}

.footer__wrapper {
  padding-top: 17px;
  width: 74%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer__bottom a {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B2D37;
  opacity: 0.5;
}

.footer__rights {
  margin-right: 5%;
}

.footer__years {
  margin-right: auto;
}

.footer__social a:hover,
.footer__social a:focus {
  opacity: 0.8
}

.footer__social a:active {
  opacity: 0.6;
}

.footer__nav a:hover,
.footer__nav a:focus {
  opacity: 1;
}

.footer__nav a:active {
  opacity: 0.8;
}

.footer__phone:hover,
.footer__phone:focus {
  opacity: 1;
}

.footer__phone:active {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .footer {
    position: relative;
  }

  .footer__top {
    position: relative;
    padding-top: 19px;
    width: 93.5%;

    &::before {
      content: "";
      position: absolute;
      bottom: 18px;
      left:50%;
      transform: translateX(-50%);
      background-color: #626962;
      width: 100vw;
      height: 1px;
      opacity: 0.2;
    }
  }

  .footer__wrapper {
    width: 93.5%;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__social {
    position: relative;
    margin-bottom: 64px;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &::before {
      content: "";
      position: absolute;
      top: 76px;
      left:50%;
      transform: translateX(-50%);
      background-color: #626962;
      width: 100vw;
      height: 1px;
      opacity: 0.2;
    }
  }

  .footer__years {
    position: absolute;
    top: 36px;
    left: 43%;
  }

  .footer__bottom {
    position: static;

    &::before {
      display: none;
    }
  }

  .footer__social-list {
    margin-right: 0px;
    margin-top: 12px;

    li:last-child {
      margin-right: 0;
    }
  }

  .footer__rights {
    display: none;
  }

  .footer__nav, .footer__address {
    flex-basis: 50%;
  }

  .footer__nav li {
    width: 100%;
  }

  .footer__address {
    box-sizing: border-box;
    padding-left: 4px;
  }

  .footer__about {
    order: 1;
  }

  .footer__product {
    order: 2;
  }

  .footer__production {
    order: 3;
  }

  .footer__mounting {
    order: 4;
  }

  .footer__equipment {
    order: 5;
  }

  .footer__delivery {
    order: 6;
  }

  .footer__our-contact {
    order: 7;
  }

  .footer__conditions {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .footer__top {
    width: 90%;
    padding-top: 46px;
  }

  .footer__years {
    transform: translateX(-50%);
    width: 240px;
    top: 123px;
    left: 50%;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__social-list {
    margin: 0 auto;
    margin-top: 81px;
  }

  .footer__social::before {
    top: 213px;
  }

  .footer__nav {
    flex-basis: 100%;
  }

  .footer__social {
    margin-bottom: 78px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left:50%;
      transform: translateX(-50%);
      background-color: #626962;
      width: 100vw;
      height: 1px;
      opacity: 0.2;
    }
  }
}

