.header {
  position: absolute;
  top: 0;
  width: 100%;

  &__wrapper {
    margin: 0 auto;
    margin-top: 32px;
    width: 74%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__company-name {
    font-family: "RobotoCondensed-Bold", Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }

  &__tagline {
    font-family: "Roboto-Medium", Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
  }

  &__contact {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;

    li {
      padding-left: 34px;
      margin-right: 9%;
      align-self: center;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  & a {
    color: $header-font-color;
  }

  &__contact a:not(.btn) {
    position: relative;
    font-family: "PTMono-Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    align-self: center;
  }

  &__order-call {
    margin-left: 3.5%;
    margin-right: 6px;
    border-color: $header-font-color;
  }

  &__mail::before {
    width: 19px;
    height: 14px;
    background-image: url("../img/mail-icon.svg");
  }

  &__phone::before {
    width: 18px;
    height: 18px;
    background-image: url("../img/phone-icon.svg");
  }

  &__contact a:not(.btn)::before {
    content: "";
    position: absolute;
    background-position: 50%;
    background-repeat: no-repeat;
    left: -34px;
    top: 0;
  }
}

.header__logo {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: $header-font-color;

  & div {
    padding-left: 20px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.header__order-call {
  margin-top: 4px;
}

.header a:hover,
.header a:focus {
  opacity: 0.8;
}

.header a:active {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .header__wrapper {
    width: 93.5%;
    margin-top: 21px;
  }

  .header__logo div {
    padding-left: 17px;
  }

  .header__company-name {
    line-height: 29px;
  }

  .header__order-call {
    display: none;
  }

  .header__contact a::before {
    display: none;
  }

  .header__contact a:not(.btn) {
    display: block;
    font-size: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__contact li {
    padding-left: 0;
    margin-right: 34px;
  }

  .header__contact li:last-child {
    margin-right: 0;
  }

  .header__mail {
    width: 26px;
    height: 19px;
    background-image: url("../img/mail-icon.svg");
  }

  .header__phone {
    width: 24px;
    height: 24px;
    background-image: url("../img/phone-icon.svg");
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    margin-top: 17px;
    width: 90%;
  }

  .header__logo svg {
    width: 38px;
    height: 38px;
  }

  .header__company-name, .header__tagline {
    display: none;
  }

  .header__contact li {
    margin-right: 23px;
  }
}
