.service {
  background-color: #1b2d37;
}

.service__title {
  color: #ffffff;
  padding-top: 89px;
  margin-bottom: 48px;
}

.service__wrapper {
  width: 61%;
  margin: 0 auto;
}

.service__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.service__card {
  width: 31.5%;
  margin-right: 2.75%;
  margin-bottom: 130px;
}

.service__card:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1023px) {
  .service {
    &__wrapper {
      width: 93.5%;
      padding-bottom: 30px;
    }

    &__title {
      padding-top: 51px;
    }

    &__card {
      width: 100%;
      margin-bottom: 47px;
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .service {
    &__wrapper {
      width: 90%;
      padding-bottom: 34px;
    }

    &__title {
      padding-left: 8px;
      margin-bottom: 41px;
    }

    &__card {
      margin-bottom: 30px;
    }
  }
}
