.service {
  background-color: $service-background-color;

  &__title {
    color: #ffffff;
    padding-top: 93px;
    margin-bottom: 47px;
  }

  &__wrapper {
    width: 61%;
    margin: 0 auto;
  }

  &__card {
    width: 31.5%;
    margin-right: auto;
    margin-bottom: 127px;
  }

  &__card:nth-child(3n) {
    margin-right: 0;
  }
}
