$font-color: #666666;
$header-font-color: #ffffff;
$first-screen-color: #1b2931;
$btn-color: #00b2ff;
$advantages-color: #00b2ff;
$advantages-border-color: #ebebeb;
$service-background-color: #1b2d37;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
